<div class="gallery-container">

  <!-- Tabs -->
  <div class="tabs">
    <button 
      [class.active]="activeTab === 'photos'" 
      (click)="activeTab='photos'">Photos</button>

    <button 
      [class.active]="activeTab === 'videos'" 
      (click)="activeTab='videos'">Videos</button>
  </div>

   <!-- <div class="card flex justify-center text-center gap-4">
    <a href="https://drive.google.com/drive/folders/14kV3MSBdjJpgugaElEZycs6_Q4IOka5p" pButton target="_blank" class="no-underline" rel="noopener noreferrer">
        <span pButtonLabel>Google Drive</span>
    </a>
     <a href="https://drive.google.com/drive/folders/1umHVQRWFFhOtvVvKxG1nUehYuBGKyii0" pButton target="_blank" class="no-underline magin-left-1" rel="noopener noreferrer">
        <span pButtonLabel>Google Drive 2</span>
    </a>
  </div> -->
   
  <!-- Photos Grid -->
   <p-fieldset legend="06-12-2025" [toggleable]="true" *ngIf="activeTab === 'photos'">
  <div *ngFor="let section of sections; let i = index">
    <p-fieldset [legend]="section.name" [toggleable]="true" (onBeforeToggle)="onSectionClick(section)">
      <div class="photo-grid">
        <div class="photo-card" *ngFor="let p of section.data">
          <a [href]="getDriveViewUrl(p.id)" target="_blank" rel="noopener">
            <img [src]="getPublicFileUrl(p.id)" [alt]="p.name" loading="lazy">
          </a>
        </div>
      </div>
    </p-fieldset>
  </div>
  </p-fieldset>

  <p-fieldset legend="07-12-2025" [toggleable]="true" *ngIf="activeTab === 'photos'">
  <div *ngFor="let section of sections2; let i = index">
    <p-fieldset [legend]="section.name" [toggleable]="true" (onBeforeToggle)="onSectionClick2(section)">
      <div class="photo-grid">
        <div class="photo-card" *ngFor="let p of section.data">
          <a [href]="getDriveViewUrl(p.id)" target="_blank" rel="noopener">
            <img [src]="getPublicFileUrl(p.id)" [alt]="p.name" loading="lazy">
          </a>
        </div>
      </div>
    </p-fieldset>
  </div>
  </p-fieldset>


  <!-- Videos Grid -->
  <div *ngIf="activeTab === 'videos'" class="video-grid">
    <div class="video-card" *ngFor="let v of videos">
      <iframe [src]="getVideoEmbed(v.id)" allow="autoplay" loading="lazy"></iframe>
    </div>
  </div>

</div>
