.contribution-card {
  max-width: 800px;
  margin: 2rem auto 4rem auto;
  padding: 2rem;
  background: var(--surface-card);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  border-radius: 12px;

  ::ng-deep(.p-card-header) {
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--primary-color);
    text-align: center;
    padding-bottom: 1rem;
  }
}

.contribution-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
  gap: 2rem;
}

.qr-section {
  text-align: center;

  .qr-image {
    /* width: 200px; */
    height: 360px;
    border: 4px solid var(--primary-color);
    border-radius: 8px;
    padding: 8px;
    background: #fff;
    justify-content: center;
  }

  .scan-text {
    margin-top: 0.8rem;
    font-size: 1rem;
    color: var(--text-color-secondary);
  }
}

.details-section {
  flex: 1 1 200px;

  .details-panel {
    margin-bottom: 1rem;
    border-radius: 10px;
    overflow: hidden;

    ::ng-deep(.p-panel-header) {
      background: var(--primary-100);
      color: var(--primary-color);
      font-weight: 600;
    }

    ::ng-deep(.p-panel-content) {
      background: var(--surface-ground);
      padding: 1rem 1.5rem;
      font-size: 0.95rem;
      line-height: 1.6;
    }
  }

  .upi-info p {
    margin: 0.5rem 0;
  }
}

::ng-deep .p-panel-header {
  color:green !important;
}

::ng-deep .p-card-title{
  color:orangered !important;
}
