<div class="header">
         <p-image src="assets/logo/Logo.jpg" alt="logo" width="100"></p-image>
    <h1 class="title">Jawahar Navodaya Vidyalaya Palair Khammam, Alumni </h1>
</div>
<div class="news-ticker">
  <div class="news-content">
    Alumni 2025 &nbsp; • &nbsp; Hosted by Millennium 14th Batch (2000 - 2007) on Dec 6th - 7th 2025 <span style="color: green;">&nbsp; Every day severs downtime : 10PM - 10AM</span>
  </div>
</div>
<div class="card">
    <p-menubar [model]="items">
        <ng-template pTemplate="end">
            <div class="p-d-flex">
                <p-button label="Register" icon="pi pi-user" [rounded]="true" [raised]="true" (click)="OpenRegisterForm()"></p-button>
            </div>
        </ng-template>
    </p-menubar>
    <div class="content margin-10">
        <router-outlet></router-outlet>
    </div>
</div>
<div class="footer">
    <footer>
    <p>Developed by 14th batch (2000-2007)                      &copy; 2025 JNVP Alumni Association. All rights reserved.</p>
</footer>
</div>
