<div class="contact-us p-card">
  <h2 class="contact-header">Contact Us</h2>

  <div class="contact-item">
    <i class="pi pi-phone contact-icon"></i>
    <span>+91 87422 73025</span>
  </div>

  <div class="contact-item">
    <i class="pi pi-envelope contact-icon"></i>
    <span>jnvpkmmalumni@gmail.com</span>
  </div>

  <div class="contact-item">
    <i class="pi pi-map-marker contact-icon"></i>
    <span>Jawahar Navodaya Vidyalaya, Palair Village, Kusumanchi Mandal, Khammam District, Telangana - 507157</span>
  </div>
</div>