.form-container {
  max-width: 600px;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.field {
  display: flex;
  flex-direction: column;
}

.field-row {
  display: flex;
  gap: 1rem;
}

.year-field {
  min-width: 200px;
  max-width: 100px;
}

.fade-in {
  animation: fade-in 0.5s ease-in-out;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}


/* styles.css or component-specific CSS */
.dialog-enter {
  animation: fadeIn 300ms ease-in-out;
}
.dialog-leave {
  animation: fadeOut 300ms ease-in-out;
}

@keyframes fadeIn {
  from { opacity: 0; transform: scale(0.9); }
  to { opacity: 1; transform: scale(1); }
}

@keyframes fadeOut {
  from { opacity: 1; transform: scale(1); }
  to { opacity: 0; transform: scale(0.9); }
}

::ng-deep .p-fileupload-file-badge {
    display: none !important;
}

/* Center submit button and make it size to content */
.submit-row {
  display: flex;
  justify-content: center;
  margin-top: 0.5rem;
}

.submit-row ::ng-deep .p-button {
  width: auto !important; /* let size match content */
  padding: 0.5rem 1.2rem !important;
}

.submit-row ::ng-deep .p-button .p-button-label {
  white-space: nowrap; /* prevent wrapping */
}

::ng-deep .p-dialog-title {
  color:green;
  font-weight: bold;
}

/* form validation error styles */
.error-message {
  color: rgb(247, 106, 106);
}


/* Responsive adjustments */

@media (max-width: 600px) {
  .form-container {
    padding: 1rem;
    .field-row {
      flex-direction: column;
      gap: 0.5rem;
    }
    button {
      font-size: 0.95rem;
    }
  }
}

/* Make it look full screen on mobile */
@media (max-width: 768px) {
  :host ::ng-deep .p-dialog {
    width: 100vw !important;
    height: 100vh !important;
    max-width: none !important;
    max-height: none !important;
  }
}

@media (max-width: 600px) {
 .p-toast {
  width: 90vw !important;
  left: 50% !important;
  transform: translateX(-50%);
  top: 1rem !important;
 }
}