<div class="container">
  <div class="top-section">
    <div class="slider">
      <!-- <theme-switcher></theme-switcher> -->
      <p-galleria [value]="images" [showIndicators]="true" [showThumbnails]="false" [changeItemOnIndicatorHover]="true"
        [containerStyle]="{'margin': '1rem'}" [autoPlay]="true" [circular]="true" [numVisible]="5">
        <ng-template #item let-item>
          <img [src]="item.itemImageSrc" class="galleria-image" />
        </ng-template>
      </p-galleria>
    </div>

    <div class="members">
      <p-card *ngFor="let member of members" class="member-card">
        <div class="profile-container">
          <img [src]="member.photo" alt="{{member.name}}" class="profile-photo" />
        </div>
        <div class="member-info">
          <h3>{{member.name}}</h3>
          <span>{{member.batch}}</span><p class="margin-top-0">{{member.description}}</p>
        </div>
      </p-card>
    </div>
  </div>

  <div class="about-us">
   <div class="page-content">
    <h2 style="color: green;">About Us</h2>
    <p>Welcome to the Jawahar Navodaya Vidyalaya, Palair, Khammam Alumni Association! We are a community of former students dedicated to fostering connections, supporting each other, and giving back to our alma mater.</p>
    <p>Our mission is to create a strong network of alumni who can share their experiences, provide mentorship, and contribute to the growth and development of current students. We believe in the power of education and the importance of staying connected with our roots.</p>
    <p>Through various events, initiatives, and outreach programs, we aim to make a positive impact on both our alumni community and the school. We encourage all former students to join us in this journey of lifelong learning and camaraderie.</p>
    <p>Thank you for being a part of the Jawahar Navodaya Vidyalaya, Palair, Khammam Alumni Association. Together, we can achieve great things!</p>
</div>
</div>