.container {
  padding: 0;
  padding-top: 0.5rem;
}

.top-section {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
}

.slider {
  flex: 1 1 60%;
}

.members {
  flex: 1 1 20%;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin-right: 1rem;
  /* margin: 1rem auto; */
}

.member-card {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.profile-photo {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.about-us {
  margin-top: 2rem;
  margin-bottom: 5rem;
  padding: 1rem;
  background-color:#f5f8f9; /*#f4f4f4;*/
  border-radius: 8px;
  font-size: large;
  font-family: sans-serif;
}

.profile-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.galleria-image {
  width: 100%;
  height: 480px; /* or whatever consistent height you prefer */
  object-fit: cover; /* keeps proportions and fills the area */
  display: block;
}

.member-info {
  text-align: center;
}

.margin-top-0 {
  margin-top: 0;
}

@media screen {
  .members {
  margin-right: 0.5rem;
}
}